<td{%if fill %} style="background:{{ fill }}" data-dirty="{%if fill %}true{% else %}false{% endif %}"{% endif %}>
  {% if fill %}<input type="hidden" name="c{{ index }}" value="{{ hex|replace({'#':'0x'}) }}" >{% endif %}
  <input type="checkbox" id="c__{{ index }}" name="c__{{ index }}" value="1" />
  <label for="c__{{ index }}"><span>Cell {{ rowLabel }}{{ column }}{%if fill %} is filled with Red {{ rgba[0] }} Green {{ rgba[1] }} Blue {{ rgba[2] }} Alpha {{ rgba[3] }}{% endif %}</span></label>
</td>
