<td{%if fill %} style="background:{{ fill }}" data-dirty="{%if fill %}true{% else %}false{% endif %}" data-r="{{ rgba[0] }}" data-g="{{ rgba[1] }}" data-b="{{ rgba[2] }}" data-a="{{ rgba[3] }}"{% endif %}>
  {% if fill %}<input type="hidden" name="c{{ index }}" value="{{ fill|replace({'#':'0x'}) }}" >{% endif %}
  <input type="checkbox" id="c__{{ index }}" name="c__{{ index }}" value="1" />
  <label for="c__{{ index }}"><span>Cell {{ rowLabel }}{{ column }}</span></label>
</td>
