<section id="cell-grid" class="single">
  <div id="cell-grid__container" class="container{% if fill %} dirty{% endif %}"{% if fillRGBA %} style="border-color:rgba({{fillRGBA[0]}}, {{fillRGBA[1]}}, {{fillRGBA[2]}}{% if fillRGBA[3] %}, {{fillRGBA[3]}})"{% endif %}{% endif %}>
    <header>
      <div class="svg-preview">
        {% include 'favicon-preview.twig' with cells %}
      </div>
    </header>
    <div class="canpx">
      <h3>Fill Selected Cells</h3>
      <p class="instructions">
        Fill the selected cells above with the color you input&nbsp;below.
      </p>
      <div>
        <label for="fill-cells-on-click">
          <input type="checkbox" id="fill-cells-on-click" name="fill-cells-on-click" value="1" disabled>
           Fill Cells on Click
        </label>
      </div>
      <p class="unaligned">
        <button id="fill-selected-cells">Fill Selected Cells</button>
      </p>
      <fieldset class="input-by-color">
        <legend>Input Color By:</legend>
        <div class="flexible">
          <div class="">
            <label for="input_color_by__text">Hexadecimal<span a11y-hidden> or CSS Color name</span>:&nbsp;</label>
            <input type="radio" name="input_color_by" id="input_color_by__text" value="text"{% if colorBy == 'hex' %} checked{% endif %} />
          </div>

          <div hidden class="color option"></div>

          <div class="">
            <label for="input_color_by__rgb">RGB:&nbsp;</label>
            <input type="radio" name="input_color_by" id="input_color_by__rgb" value="rgb"{% if not colorBy or colorBy == 'rgba' %} checked{% endif %} />
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Fill Color:</legend>
        <div>
          <div class="flexible hex fieldset">
            <label for="input_color_by__text__color">Hex<span a11y-hidden> or CSS Color name</span>:</label>
            <input type="text" id="input_color_by__text__color" name="input_color_by__text__color" placeholder="rebeccapurple"{% if fill %} value="{{ fill|replace({'0x':'#'}) }}"{% endif %} />
          </div>

          <div hidden class="colorpicker fieldset"></div>

          <hr>
          <fieldset class="rgb">
            <legend>RGB Slider:</legend>
            <div class="flexible fieldset">
              <label for="rgb_slider_r">Red:</label>
              <input type="range" inputmode="numeric" min="0" max="255" step="1" value="{% if fillRGBA[0] is defined %}{{ fillRGBA[0] }}{% else %}255{% endif %}" id="rgb_slider_r" name="rgb_slider_r" pattern="[0-9]*" maxlength="3" />
            </div>
            <div class="flexible fieldset">
              <label for="rgb_slider_r">Green:</label>
              <input type="range" inputmode="numeric" min="0" max="255" step="1" value="{% if fillRGBA[1] is defined %}{{ fillRGBA[1] }}{% else %}255{% endif %}" id="rgb_slider_g" name="rgb_slider_g" pattern="[0-9]*" maxlength="3" />
            </div>
            <div class="flexible fieldset">
              <label for="rgb_slider_r">Blue:</label>
              <input type="range" inputmode="numeric" min="0" max="255" step="1" value="{% if fillRGBA[2] is defined %}{{ fillRGBA[2] }}{% else %}255{% endif %}" id="rgb_slider_b" name="rgb_slider_b" pattern="[0-9]*" maxlength="3" />
            </div>
          </fieldset>
          <fieldset>
            <legend>Transparency</legend>
            <div class="flexible fieldset">
              <label for="rgb_slider_a">Alpha:</label>
              <input type="range" inputmode="numeric" min="0" max="1" step=".01" id="rgb_slider_a" name="rgb_slider_a" value="{% if fillRGBA[3] is defined %}{{ fillRGBA[3] }}{% else %}1{% endif %}" pattern="\d+(\.\d*)?" />
            </div>
          </fieldset>
        </div>
      </fieldset>
      <footer>
        <button no-js type="submit">Fill Selected Cells</button>
        <button type="reset">Reset Form</button>
      </footer>
      <p id="start-over" class="balanced subtle"{% if not startOver %} hidden{% endif %}><a href="/">Start Over</a></p>
    </div>

  </div>
</section>
