<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title data-base="{{ title|default('MakeanIco') }} ">{{ title|default('MakeanIco') }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if loadStyles|default(true) %}
  <link rel="stylesheet" href="assets/css/main{% if production %}.min{% endif %}.css">
  {% endif %}

  <link id="favicon" rel="icon" type="image/png" href="{% if startOver %}/make/favicon.png?{{ cellURL }}{% else %}/favicon.png{% endif %}" />

  <meta property="og:description" content="Makeanico is a progressively enhanced web app that allows anyone to create a 16x16 favicon.ico graphic.">
  <meta property="og:image:width" content="256">
  <meta property="og:image:height" content="256">
  <meta property="og:image" content="{{ baseUrl|default('http://makeanico.herokuapp.com/')  }}{% if startOver %}make/256/favicon.png?{{ cellURL }}{% else %}og.png{% endif %}">
</head>
