{% include 'header.twig' with { loadStyles:true } %}
</head>
<body>
  {% if not force10kB|default(false) %}
    {% if not printFaviconPreview|default(false) %}
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" hidden>
      <symbol viewBox="0 0 16 16" id="art">
      {% include 'components/art.twig' with cells %}
      </symbol>
    </svg>
    {% endif %}
  {% endif %}
  <div hidden id="lazy__alert"></div>
  <div id="page-wrapper">
    <aside class="bottom-bar">
      <div class="quick-start widget">
        <div class="neat container">
          <div class="svg-preview">
            {% if not force10kB|default(false) %}
              {% if not printFaviconPreview|default(false) %}
              {% include 'components/useart.twig' %}
              {% else %}
              {% include 'favicon-preview.twig' with cells %}
              {% endif %}
            {% else %}
            <a aria-hidden js-hidden="false" download="favicon.svg" data-base-url="/make/favicon.svg" title="Preview your Favicon as SVG">
              {% include 'components/useart.twig' with {includeUse: false} %}
            </a>
            {% endif %}
          </div>
          <h1>Make an <span aria-hidden="true">.</span>ICO <span a11y-hidden>Graphic</span></h1>
          <p>Just getting started?<br>Check out our <a href="/howto">quick start&nbsp;guide</a>.</p>
          <div id="ps"></div>
        </div>
      </div>
      <div class="import widget">
        <form class="neat container" action="/png-coder" method="post" enctype="multipart/form-data">
          <div aria-hidden="true" class="svg-icon" data-icon="icon-import">
          </div>
          <h2 id="import">Import</h2>
          <p>Fancy a shortcut?</p>
          <label for="pic">Upload a Picture</label>
          <input type="file" id="pic" name="pic" accept="image/*" />
          <div class="button-bar">
            <button type="submit" class="comfortable">Import</button>
          </div>
        </form>
      </div>

      {% if startOver %}
        {% include 'components/export.twig' %}
      {% else %}
        <div hidden id="lazy__export"></div>
      {% endif %}

      <div hidden id="lazy__swatches"></div>

      {% if startOver %}
        {% if not force10kB|default(false) %}
          {% include 'components/keyboard.twig' %}
        {% else %}
        <div hidden id="lazy__keyboard"></div>
        {% endif %}
      {% else %}
        <div hidden id="lazy__keyboard"></div>
      {% endif %}

    </aside>
    <form id="makeanico" action="/" method="post" aria-labledby="artboard">
      <h1 a11y-hidden id="artboard">Artboard</h1>
    <div id="canvas">
      <div id="stage">
        <table cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th a11y-hidden><span>Row</span></th>
              {% for row in cells %}
                <th a11y-hidden>Column {{ loop.index0 }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in cells %}
              <tr>
                <td a11y-hidden class="row-col">Row {{rowLabels[loop.index0]}}</td>
                {% for cell in row %}
                  {% include 'cp-check-cell.twig' with cell %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div>
      {% include 'cp-single-cell.twig' with {index:"0", row:"0", column:"0"} %}
    </div>
    </form>
  </div>
  <script>
  function supportsLocalStorage() {
    try {
      var s = false;
      localStorage.setItem('m','k');
      if(localStorage.getItem('m')) s = true;
      localStorage.removeItem('m');
    } catch(e) {}
    return s;
  }</script>
  <footer class="page-wrapper">
    <nav>
      <script>if(supportsLocalStorage()) document.write('<a href="/preferences">Accessibility' + String.fromCharCode(160) + 'Preferences</a>')</script>
      <a href="mailto:?subject={{ "Check out this Favicon"|url_encode }}&body={{ baseUrl|default('https://makeanico.azurewebsites.net/')|url_encode }}{{ "?"|url_encode }}{{ cellURL|url_encode }}" class="data-dependent"{% if not startOver %} hidden{% endif %}>Share&nbsp;this&nbsp;Icon</a>
      <a href="https://github.com/jpdevries/makeanico">Source&nbsp;Code</a>
    </nav>
  </footer>
  {% include 'scripts.twig' %}
</body>
</html>
