{% include 'header.twig' with { loadStyles:true } %}
<body>
  <div id="page-wrapper">
    <aside class="bottom-bar">
      <div class="quick-start widget">
        <div class="neat container">
          <div class="svg-preview">
            {% include 'favicon-preview.twig' with cells %}
          </div>
          <h1>Make an <span aria-hidden="true">.</span>ICO <span class="accessibly-hidden">Graphic</span></h1>
          <p>
            Just getting started?<br>Check out our <a href="/howto">quick start&nbsp;guide</a>.
          </p>
          <p>
            Using Adobe Photoshop?<br>Easily import a Photoshop document with our <a download="makeanico.jsx" href="/assets/js/extendscript/makeanico.jsx">MakeanIco&nbsp;ExtendScript</a>.
          </p>
          <p>Bookmark this page at anytime to save your&nbsp;proggress.</p>
        </div>
      </div>
      <div class="upload widget">
        <form class="neat container" action="/png-coder" method="post" enctype="multipart/form-data">
          <div aria-hidden="true" class="svg-preview">
            <svg width="16" height="16" viewBox="0 0 2048 2048" class="svg-preview__svg" xmlns="http://www.w3.org/2000/svg"><path d="M1472 1600q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm256 0q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm128-224v320q0 40-28 68t-68 28h-1472q-40 0-68-28t-28-68v-320q0-40 28-68t68-28h427q21 56 70.5 92t110.5 36h256q61 0 110.5-36t70.5-92h427q40 0 68 28t28 68zm-325-648q-17 40-59 40h-256v448q0 26-19 45t-45 19h-256q-26 0-45-19t-19-45v-448h-256q-42 0-59-40-17-39 14-69l448-448q18-19 45-19t45 19l448 448q31 30 14 69z"/></svg>
          </div>
          <h2 id="import">Import</h2>
          <p>Fancy a shortcut?<br>Upload a PNG, JPG, GIF, or SVG image and we'll generate a favicon from your&nbsp;image.<br>Your image will be scaled down and cropped as a 16x16 square so square aspect ratios work&nbsp;best.</p>
          <label for="pic">Upload a Picture</label>
          <input type="file" id="pic" name="pic" accept="image/*" />
          <button type="submit">Import</button>
        </form>
      </div>
      <div class="widget">
        <div class="export-as neat container">
          <div class="svg-preview">
            {% include 'favicon-preview.twig' with cells %}
          </div>
          <h2 id="export">Export</h2>
          <p>
            Your <i><span class="filename">favicon</span>.<span class="extension">ico</span></i> icon is ready for&nbsp;download.
          </p>
          <div class="flexible">
            <label for="filename__text">Filename:</label>
            <input type="text" id="filename__text" name="filename__text" placeholder="favicon" />
          </div>
          <p></p>
          <form class="button-bar">
            <fieldset>
              <legend>Download As</legend>
              <label for="download__ico">
                ICO
                <input type="radio" id="download__ico" name="download__as" checked value="ico">
              </label>
              <label for="download__svg">
                SVG
                <input type="radio" id="download__svg" name="download__as" value="svg">
              </label>
              <label for="download__png">
                PNG
                <input type="radio" id="download__png" name="download__as" value="png">
              </label>
            </fieldset>
          </form>
          <nav class="flexible unaligned button-bar">
            <div>
              <a href="/make/favicon.ico?dl=1&{{ cellURL }}" data-base-url="/make/favicon.ico" download="favicon.ico" class="comforatbly heavy btn" aria-label="ICO Graphic (ICO)" data-format="ico">Download <span class="filename">favicon</span>.<span class="extension">ico</span></a>
            </div>
            <div>
              <a hidden href="/make/favicon.svg?dl=1&{{ cellURL }}" data-base-url="/make/favicon.svg" download="favicon.svg" class="comforatbly heavy btn" aria-label="Scalable Vector Graphic (SVG)" data-format="svg">Download <span class="filename">favicon</span>.<span class="extension">svg</span></a>
            </div>
            <div>
              <a hidden href="/make/favicon.png?dl=1&{{ cellURL }}" data-base-url="/make/favicon.png" download="favicon.png" class="comforatbly heavy btn" aria-label="Portable Network Graphic (PNG)" data-format="png">Download <span class="filename">favicon</span>.<span class="extension">png</span></a>
            </div>
          </nav>
        </div>
      </div>
    </aside>
    <form id="makeanico" action="/" method="post">
    <div id="canvas">
      <div id="stage">
        <table cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th class="accessibly-hidden"><span>Row</span></th>
              {% for row in cells %}
                <th class="accessibly-hidden">Column {{ loop.index0 }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in cells %}
              <tr>
                <td class="accessibly-hidden row-col">Row {{loop.index0}}</td>
                {% for cell in row %}
                  {% include 'cp-check-cell.twig' with cell %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div>
      {% include 'cp-single-cell.twig' with {index:"0", row:"0", column:"0"} %}
    </div>
    </form>
  </div>
  <footer class="page-wrapper">
    <nav>
      <a href="mailto:">Share this Icon</a>
      <a href="#">Read the Docs</a>
      <a href="#">Source Code</a>
      <a href="mailto:contact@makeani.co?subject=Make%20an%20Ico">Contact Us</a>
    </nav>
  </footer>
  {% include 'scripts.twig' %}
</body>
</html>
